@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header,
body,
footer {
	max-width: 1920px;
	margin: auto;
}

section {
	scroll-margin-top: 5rem;
}
